.cards {
  font-size: 0;
  width: 920px;
  box-sizing: border-box;
  background-color: antiquewhite;
  margin: 0 auto 0;
  padding: 0;
  /*border: rgba(37, 177, 95, 0.4) 2px solid;*/
  /*display: flex;
  flex-direction: line;
  flex-wrap: wrap; /*флекс добавил хз зачем, но ничего в итоге не поменялось*/
  justify-content: space-between;
 }
