.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px 0 0;
  color: white;
  list-style-type: none;
  text-decoration: none;
  transition: opacity .2s linear;
  z-index: 1;
}

.footer__column-link:hover {
  opacity: .5 ;
}


