.footer__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 0;
  width: 90%;
  min-height: inherit;
  padding: 60px 0 40px;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}
