.footer__author {
  padding: 18px 0 18px;
  background-color: rgb(137, 137, 43);
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  color: white;
 }
