.header__link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .5 ;
  cursor: pointer;
}
