.video__iframe {
  border: none;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  box-sizing: border-box;
}

.video__iframe:nth-of-type(2n) {
  margin-right: auto;
  margin-left: 0;
}
