.section-title_theme_dark {
  width: 60%;
  margin: 0 auto 0;
  padding-top: 90px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 0;
  /*padding: 100px auto 0; /*тоже не отступает почему то??? (раньше было 0 вверху)*/
  box-sizing: border-box;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  z-index: 1;
  /*Нужно здесь убрать все лишнее и оставить только изменения по цвету*/
}
